APP_NAME="Barjong Cafe"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://banchongcafe

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

# ─── Database (Railway MySQL service will set these automatically) ───
DB_CONNECTION=mysql
DB_HOST=${MYSQLHOST}
DB_PORT=${MYSQLPORT}
DB_DATABASE=${MYSQLDATABASE}
DB_USERNAME=${MYSQLUSER}
DB_PASSWORD=${MYSQLPASSWORD}

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

# ─── LINE Messaging API ───
LINE_BOT_CHANNEL_ACCESS_TOKEN=wDM48I2M8XjAWy7s7W3/mgEp63qZWrhmX2ZpT02LFZ0mJ9VJyeb0vKbtYH6rxkK/vqSm5scicsEoKAoFJiB6s90DJi61leZKUJ+TF2Tvis1GfVbGuSjk0VHBzFjKTyqJU6JyJBVHyj7ttoxo1OUO7wdB04t89/1O/w1cDnyilFU=
LINE_ADMIN_USER_ID=U347443566de4e2d79d48e0a0bcf74192
